piezometros
Ramblas
Registro_Ramblas_MARMENOR.xlsx
locCanalMarMenor.xlsx
.ipynb_checkpoints
.python-version
.~lock.Registro_Ramblas_MARMENOR.xlsx#
__pycache__
config.ini
CodigoSentinel
boyaUPCT/ncFiles
Copernicus/sentinelImages
Copernicus/sentinelAntonioMI
Copernicus/sentinelAntonioMIFloat32
Copernicus/planet
Copernicus/test_dir
untitled_project
Copernicus/SAFE_downloads
boyasProf
catboost_info
saved_files/application/preds
saved_files/application/tmp_csv